
.terraform
.terraform*

# build output
dist/
codeData/
.output/
.astro

# dependencies
node_modules/
downloadS3/
local/*.json
local/**/*.json
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.terraform.state*

# environment variables
.env
.env.production
.mongodb.env
# macOS-specific files
.DS_Store
*.zip
*.jar
	


to_inspect
output
tmp_*